version: '3.8'
services:
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - pgdata:/var/lib/postgresql/data

  web:
    build: .
    restart: always
    env_file: .env
    depends_on:
      - db
    ports:
      - "8000:8000"
    command: gunicorn itfintrack.wsgi:application --bind 0.0.0.0:8000 --workers 3

volumes:
  pgdata:
